.item1 {
    background-color: #334455;
}

.item2 {
    background-color: #778899;
}

.item3 {
    background-color: #aabbcc;
}

.item4 {
    background-color: #ddeeff;
}

.item5 {
    background-color: #af3fb3;
}